body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-image: url("public/games/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.app {
  text-align: center;
}

.header .logo img {
  max-width: 120px;
  height: auto;
}

.body-content {
  display: flex;
  align-items: center;
}

.header-content {
  margin-left: 20px;
}

.shop {
  padding: 2em;
}

.catalogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.catalog {
  margin: 0.4em;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #36213d;
  transition: transform 0.3s ease-in-out;
  max-width: 220px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog:hover {
  transform: scale(1.05);
}

.catalog img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
}

p {
  font-style: italic;
  color: white;
  font-weight: normal;
  align-items: center;
}

.catalog h2 {
  margin: 20px;
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
}

h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  color: white;
  font-size: 15.5px;
  font-weight: bold;
  /* Add a semicolon here */
}

.billboard {
  max-width: 100%;
  overflow: hidden;
}

.billboard img {
  width: 100%;
  height: auto;
}

.billboard-image {
  max-width: 40%;
  width: 100%;
  height: auto;
}

.shop-day {
  background-image: url("public/games/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.shop-night {
  background-image: url("public/games/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-day {
  background-color: #311432;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 0.2em;
  display: flex;
  align-items: center;
}

.header-night {
  background-color: #0492c2;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  padding: 0.2em;
  display: flex;
  align-items: center;
}

.shop-night .catalog {
  background-color: #0492c2;
  border-color: #555555;
}
